<!DOCTYPE html>
   <head>
      <title>{{ title }}</title>
      <link rel="stylesheet" href="../static/style.css/">
   </head>
   <body>
      <h1>Boat Driver page</h1>
      <h2>Set the information</h2>
      
      <form method="POST">
         <label for="arriving">Arrival time</label>
         <input name="arriving">
         <input type="submit">
      </form>
      <form method="POST">
         <label for="leaving">Departure time</label>
         <input name="leaving">
         <input type="submit">
      </form>      
      <form method="POST">
         <label for="d_arriving">Arrival to destination</label>
         <input name="d_arriving">
         <input type="submit">
      </form>
      
      <a href="/">Main page</a>
   </body>
</html>
