<!DOCTYPE html>
   <head>
      <title>{{ title }}</title>
      <link rel="stylesheet" href="../static/style.css/">
   </head>
   <body>
      <h1>Welcome to FinTour's</h1>
      <h1>{{ origin }} - {{ destination }} route</h1><br>
      
      
      <h2>The current time is {{ time }}</h2><br>
      
      
      <h2>The next stop is {{ location }}</h2>
      <h2>Arriving to {{ location }} at {{ arriving }}</h2>
      <h2>Leaving from {{ location }} at {{ leaving }}</h2><br>
      
      <h2>Arriving to {{ destination }} at {{ d_arriving }}</h2><br>
      
      <h2>Information from Tour Guide<h2>
      <h2> {{ information }}</h2><br>
      
      <a href="/leader">Tour Guide page</a>
      <a href="/boatdriver">Boat Driver page</a>
      
   </body>
</html>
