<!DOCTYPE html>
   <head>
      <title>{{ title }}</title>
      <link rel="stylesheet" href="../static/style.css/">
   </head>
   <body>
      <h1>Tour Guide page</h1>
      <h2>Set the information</h2>
      
      <form method="POST">
         <label for="origin">Origin</label>
         <input name="origin">
         <input type="submit">
      </form>
      <form method="POST">
         <label for="destination">Destination</label>
         <input name="destination">
         <input type="submit">
      </form>      
      <form method="POST">
         <label for="information">Information</label>
         <input name="information">
         <input type="submit">
      </form>
      <form method="POST">
         <label for="ID">ID</label>
         <input name="ID">
         <input type="submit">
      </form>
      <a href="/">Main page</a>
   </body>
</html>
